.modal-button{
  appearance: none;
  // background: #639e79;
  border-radius: 0.25em;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  height: 3em;
  line-height: 3em;
  padding: 0 1em;

}

.reminder{
  background: #3f5c44;
  position: fixed;
  top: 364px;
  left: 141px;
  height: 48px;
  width: 172px;
  font-size: 30px;
  list-style-type: none;
}
.modal-name{
  color: #1c241f;
  font-size: 50px;
}
