// .garden{
//   margin: 9px;
//   background-color: #fff;
//   border-radius: 22px;
//   box-shadow: revert-layer;
//   overflow: hidden;
//   width: 394px;
//   height: 792px;
// }
.gard-container{
  margin: 9px;
  background-color: #fff;
  border-radius: 22px;
  box-shadow: revert-layer;
  overflow: hidden;
  width: 394px;
  height: 792px;
  
}

.garden-name-rem{
  padding: 10px;
  margin-left: 60px;
}
.garden-plant{
  margin: 9px;
  background-color: #fff;
}
.gard-card{
  height:200px;
  width:200px
}
.plant-im{
  width: 142px;
  height: 140px;
  object-fit: cover;
}
