<div class="footer">
  <ul>
    <li class="footer-links">
      <a href="/">
      <span class ="icon">
      <i class="fa-solid fa-house"></i>
      </span>
      <span class ="text">Home</span>
      </a>
    </li>
     <li class="footer-links">
      <%# <a href="/plants"> %>
      <%=link_to plants_path, data:{turbo: false} do %>
        <span class ="icon">
        <i class="fa-sharp fa-solid fa-seedling"></i>
        </span>
        <span class ="text">Plants</span>
      <% end %>
      </a>
    </li>
     <li class="footer-links">
      <a href="/chatrooms/7">
      <span class ="icon"><i class="fa-solid fa-question"></i>
      </span>
      <span class ="text">Help</span>
      </a>
    </li>
    <li class="footer-links">
      <a href="/gardens/new">
      <span class ="icon"><i class="fa-solid fa-plus"></i>
      </span>
      <span class ="text">Create a garden</span>
      </a>
    </li>
  </ul>
</div>
