<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dfz9nuknq/image/upload/v1666287268/Mauplant/plants/scott-webb-hDyO6rr3kqk-unsplash_cxsrnb.jpg);">
  <div class="container">
    <h1>MauPlant <strong>keeps</strong> your <strong>plant alive</strong>!</h1>
    <p>Make your plant healthy.</p>

  <a href="<%= link_to "Start Your Journey","/gardens"%>

  </div>
</div>
