<div class="plant">
  <div class="plant-photo">
   <%= cl_image_tag @plant.photo.key %>
  </div>
  <div class="plant-name">
   <h1><%= @plant.name %></h1>
  </div>
  <div class="plant-cat">
   <h2><%= @plant.category %></h2>
  </div>
 <div class="plant-des">
   <h2><%= @plant.description %></h2>
 </div>
</div>
