<div class="plant-container">
 <div class="plant">
   <%= cl_image_tag @plant.photo.key%>
 </div>
 <div class="plant-name">
   <h2><%= @plant.name %></h2>
 </div>
 <div class="plant-des">
   <p><%=  @plant.description %></p>
  </div>
</div>
