.plant img{
  height: 533px;
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  width: 401px;
  object-fit: cover;
}
.plant-name h2{
  border-radius: 10px;
  background: #b0cfbbda;
  margin-top: 8px;
  margin-left: 16px;
  margin-right: 288px;
  position: sticky;
  margin-bottom: 32px;
}
.plant-container{
  margin: 9px;
  background-color: #fff;
  border-radius: 22px;
  box-shadow: revert-layer;
  overflow: hidden;
  width: 394px;
  height: 792px;
}
.plant-des{
  margin-top: -28px;
  margin-bottom: 1rem;
  text-align: center;
  margin-right: 14px;
}
