.plant img{
  height: 533px;
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  width: 401px;
  object-fit: cover;
}
.plant-name h2{
  border-radius: 10px;
  background: #5dbd7fda;
  margin-top: 3px;
  margin-left: 21px;
  margin-right: 21px;
  position: sticky;
  margin-bottom: 38px;
  text-align: center;
  font-size:32px;
}
.plant-container{
  margin: 9px;
  background-color: #fff;
  border-radius: 22px;
  box-shadow: revert-layer;
  overflow: hidden;
  width: 394px;
  height: 792px;
}
.plant-des{
  margin-top: -28px;
  margin-bottom: 1rem;
  text-align: center;
  margin-right: 14px;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 1px;
}

