.plant img{
  height: 300px;
  /* display: block; */
  width: 100%;
  border-radius: 16px;
  box-shadow: 6px 6px 9px #b2ebc6;
  padding: 8px 8px;
}
.plant-name h2{

  /* border-bottom: double; */
  border-radius: 10px;
  margin-top: 4%;
  font-size: 2.5rem;
}
.plant-name h2{
  border-radius: 10px;
  margin-top: 4%;
  font-size: 2.5rem;
}

.plant-container{
  margin: 9px;
  background-color: #fff;
  border-radius: 22px;
  box-shadow: revert-layer;
  overflow: hidden;
  width: 394px;
  height: 640px;
}
.plant-des{
  // margin-top: 57px;
  // margin-bottom: 2rem;
}
