.footer {
  background:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 400px;
  // padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  border-radius: 10px;
  margin-top: 366px;
}
.footer ul{
  display: flex;
}
.footer ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}
.footer ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-direction: column;
  width: 100;
  text-align: center;
  font-weight: 500;
}
.footer ul li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: var(--clr);
}
// .footer ul li:hover a .icon {
// transform: translateY(-32px);
// }
.footer ul li a .text {
  position: absolute;
  color: var(--clr);
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px);
  }
  // .footer ul li:hover a .text {
  // opacity: 1;
  // transform: translateY(10px);
  // }
