.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.controls {
  margin-top: 16px;
}

.button {
  font-weight: bold;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 4px 8px;
  margin-left: 4px;
}

.set-alarm {
  background-color: #498AFB;
}

.clear-alarm {
  background-color: #FF3860;
}
