.card-plant {
  overflow: hidden;
  height: 100px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-top: 43px;
}
.card-plant img {
    height: 129px;
    width: 277px;
    margin: 22px;
    padding: 25px;
    border-radius: 50%;
    box-shadow: 2px 2px 4px rgb(155, 214, 155);
  }

.card-plant h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-plant p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-plant .card-plant-infos {
  padding: 16px;
}
.garden_name{
  font-family: 'Times New Roman', Times, serif;
}
