
  .card-garden h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;

  }

  .card-garden p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }

  .card-product .card-garden-infos {
    padding: 16px;
  }
.form-control{
  border-radius: 50px;

}
.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 25px rgba(0,0,0,0.2);
  border-radius: 25px;
  margin: 10px;
}
.card-trip img {
  height: 143px;
    width: 211px;
    display: flex;
    border-radius: 18px;
}
