.card-garden {
    overflow: hidden;
    height: 500px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
  }

  .card-garden img {
    height: 100px;
    width: 211px;
    display: flex;

  }

  .card-garden h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  .card-garden p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }

  .card-product .card-garden-infos {
    padding: 16px;
  }
