<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)), url(https://res.cloudinary.com/dfz9nuknq/image/upload/v1666162430/damla-sulama-sisteminde-borunun-onemi-1280x720_zc91of.jpg);">

<div class="container">
    <h1 class="mb-2" >Welcome to MauPlant</h1>

      <%= form_with url: categories_path, method: :get, class: "d-flex" do %>
       <%= text_field_tag :query,
        params[:query],
         class: "form-control",
          placeholder: "Find your plant..."
         %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
