<div class="wrapper">
  <div class="card d-flex">
    <div class="d-flex">
      <div class="card_1">
        <h1>MauPlant</h1>
        <p>make your plant healthy</p>
      </div>
      <div class="card_2">card2
// example
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
